<%= render(:partial => 'layouts/tabs', :locals => {:tab_name => "portfolio"}) %>
<div id="content-wrap">
	
	<h1>Listing portfolios</h1>

	<table>
	  <tr>
	    <th>Name</th>
	    <th>User</th>
	    <th>Created</th>
	    <th>Start value</th>
	    <th>Current value</th>
	    <th>Value last updated</th>
	    <th>Active</th>
	  </tr>

	<% @portfolios.each do |portfolio| %>
	  <tr>
	    <td><%=h portfolio.name %></td>
	    <td><%=h portfolio.user_id %></td>
	    <td><%=h portfolio.created %></td>
	    <td><%=h portfolio.start_value %></td>
	    <td><%=h portfolio.current_value %></td>
	    <td><%=h portfolio.value_last_updated %></td>
	    <td><%=h portfolio.active %></td>
	    <td><%= link_to 'Show', portfolio %></td>
	    <td><%= link_to 'Edit', edit_portfolio_path(portfolio) %></td>
	    <td><%= link_to 'Destroy', portfolio, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
	</table>

	<br />

	<%= link_to 'New portfolio', new_portfolio_path %>

</div>