<p>
  <b>Fname:</b>
  <%=h @user.fname %>
</p>

<p>
  <b>Lname:</b>
  <%=h @user.lname %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Active:</b>
  <%=h @user.active %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>