<html>
  <head>
    <%= stylesheet_link_tag 'et' %>
		<%= javascript_include_tag 'prototype' %>
    <%= yield :header %>
    <title>
      <%= [
        'Equity Tycoon',
        'EquityTycoon.com',
        @title
      ].compact.join(' - ') %>
    </title>
    <% unless ['development', 'test'].include?(RAILS_ENV) %>
      <script type="text/javascript">
        //analytics
      </script>
    <% end %>
  </head>
  <body id="et_home">
    <div class="logo">
      <span><a href="/"><%= image_tag('et_logo.png') %></a></span>
      <span><h1>Equity Tycoon</h1></span>
			<span>Real Time Stocks &amp; Bonds Tracking for Learning and Fun</span>
    </div>
    <div class="body">
      <%= yield %>
    </div>
    <div class="footer"></div>
  </body>
</html>

